<% include layout %>



<body>

<div class="menu_width">
         <div class="menu">
              <div class="menu_logo" ><a href="/"></a></div>
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_1"><a  href="/beijing.html"><i></i><span>首页</span></a></li>
                    <li class="menu_2"><a  class="current"  href="/city.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  href="/rank.html"><i></i><span>排行榜</span></a></li>
                    <li class="menu_4"><a  href="/news.html"><i></i><span>PM2.5真相</span></a></li>
                    <li class="menu_5"><a  href="/protection.html"><i></i><span>PM2.5防护</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>


<!--banner部分-->
<!--当前城市不同等级不同颜色背景"banner_bg_level3"这里后边的数字是1~6-->
<div class="citydata_banner_width banner_bg_level1">
    <div class="citydata_banner">
            <div class="citydata_banner_top">
                      <div class="citydata_changecity">
                           <a href="javascript:void(0)" class="minicity_clk"></a>
                           <span class="city_name">{{}}</span>
                           <span class="city_description">实时空气质量指数（AQI）</span>
                      </div>
                      <div class="citydata_updatetime">更新时间：2019-08-16 15:00</div>
                      <div class="clear"></div>
            </div>
    
            <!--透明层-->
            <div class="citydata_banner_opacity">
                      <div class="cbo_left">
                                 <div class="cbol_aqi">
                                       <a class="cbol_aqi_num" href="/news/385.html" target="_blank">22</a>
                                       <a class="cbol_aqi_name" href="/news/385.html" target="_blank">AQI指数</a>                                
                                 </div> 
                                 <div class="cbol_wuranwu">
                                       <!--没有污染物数据的时候，增加个“cbol_wuranwu_nodata”，删掉里面内容再加个i标签"<i></i>"-->
                                       <a class="cbol_wuranwu_num cbol_wuranwu_nodata" href="javascript:void(0)" target="_blank"><i></i></a>
                                       <a class="cbol_wuranwu_name" href="javascript:void(0)" target="_blank">首要污染物</a>
                                 </div> 
                                 <div class="cbol_nongdu">
                                       <!--没有浓度数据的时候，增加个“cbol_nongdu_nodata”，删掉里面内容换成个i标签"<i></i>"-->
                                       <a class="cbol_nongdu_num " href="/news/386.html" target="_blank">
                                                                                        <span class="cbol_nongdu_num_1">5</span>
                                            <span class="cbol_nongdu_num_2">微克/立方米</span>
                                                                               </a>
                                       <a class="cbol_nongdu_name" href="/news/386.html" target="_blank">PM2.5浓度</a>
                                 </div> 
                      </div>
                      <div class="cbo_right">
                                <div class="cbor_gauge">
                                      <!--指针的位置不同的等级“cbor_gauge_level1”改后边的数字，里面的文字包含"优，良，轻度污染，中度污染，重度污染，严重污染"-->
                                      <span class="cbor_gauge_level1">优</span>
                                      <p class="cbor_gauge_img"></p>
                                      <p class="cbor_gauge_num">0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;300&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500</p>
                                </div>
                                <div class="cbor_tips">
                                      <p>
                                          <span>温馨提示：</span>
                                          空气很好，可以外出活动，呼吸新鲜空气。                                      </p>
                                </div>
                               <a class="cbor_morelink" href="/protection.html" target="_blank">更多防护&gt;&gt;</a>
                      </div>
                      <div class="clear"></div>
            </div>
            <div class="cbo_opacity"></div>
    </div>
</div>




</body>
</html>

